[Desktop Entry]
Name=RivalTune
Comment=Configure SteelSeries mice
Exec=rivaltune
Icon=rivaltune
Type=Application
Categories=Utility;AudioVideo;HardwareSettings;
Terminal=false
